a {
    text-decoration: none;
    color: white;
}

input {
    border: 1px solid white;
    padding: 8px;
}

body {
    margin: 0;
}

.someClass {
    width: 15vw;
    height: 30vh;
    background-color: white;
    color: black;
}

.scene {
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1
}

.layer {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 110%;
    height: 110%;
}

.layer-background {
    background: url('../img/dark-dawn.jpg') center no-repeat;
    background-size: cover;
}

.main{
    height: 70vh;
}

.main h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding-top: 18vh;
}

header {
    height: 10vh;
}

.links-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.nav-link:after {
    background-color: #ffe348;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.nav-link:hover:after,
.nav-link:focus:after {
    width: 100%;
}

header a {
    padding: 0 40px ;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper p {
    padding-top: 10px;
}

form {
    padding-top: 5vh;
    width: 20vw;
}

.addAddressContainer {
    display: flex;
    justify-content: center;
}

.addAddressContainer button{
    cursor: pointer;
    border: 1px solid #ffe348;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    background-color: #ffe348;
    padding: 8px;
}

#parLocation {
    color: black;
}

#parForecast {
    color: black;
}

footer {
    width: 100vw;
    height: 10vh;
    color: #ffe348;
    display: flex;
    justify-content: center;
    align-items: center;
}